<p><h4><%= t("titolo")+research.title%></h4></p>
<p><%= t("place")+research.location%></p> 
<p><%=t("price")+research.price.to_s%></p> 
<p><%= t("feed")+research.feed.to_i.to_s%></p> 
<p><%=t("time")+research.time.to_i.to_s%></p> 
<%= link_to t("vai"), research.url %>

<% if current_user==@user || current_user.admin? %>  
<%= link_to t("elimina") , user_research_path(research.user_id, research), data: {turbo_method: :delete, turbo_confirm:"Are you sure?"}%>
<%end%>
<% if current_user.moderator? && (!@user.moderator? && !@user.admin?)%> 
<% if current_user!=@user %>
<%= link_to t("elimina") , user_research_path(research.user_id, research), data: {turbo_method: :delete, turbo_confirm:"Are you sure?"}%>
<%end%>
<%end %>
