<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <style>
  .language-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    position; absolute
    bottom; 0;
  }
  .container {
    display: flex;
    align-items: flex-start;
    position: relative;
    min-height: 45vh;
  }

    .left-container, .center-container {
      flex: 1;
      text-align: left;
    }
    .right-container, .center-container {
      flex: 1;
      text-aling: right;
  }
  </style>
  <div style="flex: 1; text-align: right;">
    <%= link_to "Home", root_path %>
    
   <% if current_user%>
    <%= link_to t("profilo"), user_path(@user.id)%>
    <%= link_to "Edit Account", edit_user_registration_path %>
    <%= link_to "Logout", destroy_user_session_path, 'data-turbo-method': :delete%>  </div>
    
    <% end %>
  </div> 
</head>
<body>


<% if @user.full_name.present? %>
  <h3><%= @user.full_name %></h3>
  <%= image_tag(@user.avatar_thumbnail, :width => '200px') %>
<% else %>
  <% if @user.avatar.attached? %>
    <h3><%= @user.email %></h3>
    <%= image_tag(@user.avatar_thumbnail, :width => '200px') %>
  <% else %>
    <h3><%= @user.email %></h3>
    <%= image_tag(@user.avatar_thumbnail, :width => '200px') %>
  <% end %>
<% end %>

<section class="stats">
  <%= render 'shared/stats' %>
</section>

<%= render 'users/follow_form' if logged_in? %>

<% if user_signed_in? && current_user == @user %>
  <% resource_name = :user %>
  <div>
 <%= button_to t("cancella"), registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %>
   
   </div>
  
<% end %>

<% if (current_user.moderator? || current_user.admin?) && @user != current_user %>
  <%= button_to t("elimina"), user_path(id: @user.id), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %>
<% end %>
<div class="container">
<div class="left-container"> 
<h3><%= t("recensioni") %></h3>
<%= render @user.reviews %>
</div>
<div class="center-container"> 
<h3><p><%= t("ricerche") %></p></h3>
<% @results.each do |record| %>
    <h4><p><%= t("titolo")+record.title%></p></h4>
    <p><%= t("luogo")+record.location%></p>
    <p><%= t("price")+record.price.to_s%></p>
    <p><%= t("feed")+record.feed.to_i.to_s%></p>
    <p><%= t("time")+record.time.to_s%></p>

    <% if current_user.id==record.user_id %>
    <%= link_to t("vai"), record.url , target: '_blank' %>
    <%= link_to t("elimina") , user_research_path(record.user_id, record), data: {turbo_method: :delete, turbo_confirm:"Are you sure?"}%>

<%end%>

<%end%>
</div>
<div class="right-container">
<% if current_user == @user %>
   <p><%= link_to t("fordi"), feedordina_path(user_id: @user.id) %></p>
   <p><%= link_to t("priceo"), pordina_path(user_id: @user.id) %></p>
 
   <% @user.following.each do |f| %>
    <h3><%="Amici: "%></h3>
    <%= f.full_name %> <%= link_to t("vaip"), users_path(id: f.id) %>
  <% end %>
 <% end %>
</div>
</div>

<!-- Lingua e assistenza-->
<div class="language-container">
  <div style="text-align: left;">
  <% if current_user && current_user.admin?%>
	<%= link_to "Admin", admin_board_path %>
    <% elsif current_user && current_user.moderator?%>
	<%= link_to "Moderator", admin_board_path %>
    <%elsif current_user && (!current_user.admin? && !current_user.moderator?) %>
  <%= link_to t("assistenza"), new_user_message_path(current_user.id) %> 
    <%end%>
    <%= link_to "Inglese", cambia_path(locale: :en) %>
    <%= link_to "Italiano", cambia_path(locale: :it) %>
    
  </div>
</div>
</body>
</html>