<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <style>
  .container {
    display: flex;
    column-gap: 20px;
    justify-content: space-between;
  }
  .language-container {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 10px;
    }
  </style>
  <div style="flex: 1; text-align: right;">
    <%= link_to "Home", root_path %>
    <%= link_to t("profilo"), user_path(current_user.id)%>
    <%= link_to "Edit Account", edit_user_registration_path %>
    <%= link_to "Logout", destroy_user_session_path, 'data-turbo-method': :delete%>  </div>
    </div> 
  </head>
<body>


<% if current_user.admin?%>

<h1><%= "Admin Board" %></h1>

<div style="display: flex; justify-content: space-between;">
  <div style="flex: 1;">
    <h1><%= t("richieste") %></h1>
    <ul>
      <% @messages.each do |message| %>
        <li>
          <%= t("richiesta")+" da:" +" "+User.find(message.user_id).full_name%>
          <p><h4><%= message.content %> </h4><%= button_to t("risolta"), user_message_path(user_id: message.user_id, id: message.id), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %></p>
        </li>
      <% end %>
    </ul>
  </div>

  <div style="flex: 1;">
    <h1><%= t("statistiche") %></h1>
    <ul>
      <li><%= t("numute") + @users.count.to_s %></li>
      <li><%= t("nurece") + @reviews.count.to_s %></li>
      <li><%= t("ricesa") + @researches.count.to_s %></li>
      <li><%= t("nrichieste") + @messages.count.to_s %></li>

    </ul>
  </div>
</div>

<div style="display: flex; justify-content: space-between; align-items: flex-start;">
  <div style="flex: 1;">
    <h1><%= t("utenti") %></h1>
    <ul>
      <% @users.each do |user| %>
        <li>
          <div style="display: flex; align-items: center;">
            <div style="margin-right: 10px;">
              <% if user.moderator? %>
                <strong>Moderatore:</strong>
              <% elsif user.admin? %>
                <strong>Admin:</strong>
              <% else %>
                <strong>Utente:</strong>
              <% end %>
            </div>
            <div class="container">
                <%= user.full_name %>
                <% if !user.admin? %>
                  <% if !user.moderator? %>
                  <%= link_to t("profilou"), user_path(id: user.id) %>
                  <%= link_to t("modmake"), set_mod_path(id: user.id) %>
      <%= button_to t("elimina"), user_path(id: user.id), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %>
                              
                  <% else %>
                  <%= link_to t("modre"), remove_mod_path(id: user.id) %>
                  <%= button_to t("elimina"), user_path(id: user.id), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %>
                  <% end %>
                <% end %>
                </div>
            </div>
          </li>
      <% end %>
    </ul>
  </div>
</div>
        

     
<%else %>

<h1><%= "Moderator Board" %></h1>

<div style="display: flex; justify-content: space-between;">
  <div style="flex: 1;">
    <h1><%= t("richieste") %></h1>
    <ul>
      <% @messages.each do |message| %>
        <li>
          <%= t("richiesta")+" da" +" "+User.find(message.user_id).full_name%>
         <p><%= message.content %></p> <%= button_to t("risolta"), user_message_path(user_id: message.user_id, id: message.id), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %>
        </li>
      <% end %>
    </ul>
  </div>
</div>


 


<div style=" justify-content: space-between; align-items: flex-start;">
  <div style="flex: 1;">
    <h1><%= t("utenti") %></h1>
    
      <% @users.each do |user| %>
        <li>
        <div style="display: flex; align-items: center;">
          <div style="margin-right: 10px;">
            <% if user.moderator? %>
              <strong>Moderatore:</strong>
            <% elsif user.admin? %>
              <strong>Admin:</strong>
            <% else %>
              <strong>Utente:</strong>
            <% end %>
          </div>
          <div class="container">
        <% if user.admin? %>
           <%=user.full_name%>
        
           <% elsif !user.moderator? %>
           <%= link_to t("profilou"), user_path(id: user.id) %>
          <%= button_to t("elimina"), user_path(id: user.id), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %>
          <% else %>
            <%= t("mod") + " "+user.full_name %>
          <% end %>
        <% end %>
    </div>
  </div>
</div>
</div>    





</body>
</html>
<%end%>



