

<h1><%= "Admin Board"%></h1>

<div align="left">
    <h1><%=t("richieste")%></h1>
    <ul>
      <% @messages.each do |message| %>
        <%= t("richiesta")+message.content %>
        <%= button_to t("risolta"), user_message_path(user_id: message.user_id, id: message.id), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %></div>

      <% end %>
    </ul>
  </div>

  <div align="left">

  <% @users.each do |user| %>
    <% if !user.admin? %>
     <% if !user.moderator? %>
         <%= t("utente")+ " " +user.full_name%>
            <%= link_to t("profilo"), user_path(id: user.id) %>
          
          <%= button_to t("elimina"), user_path(id: user.id), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %></div>
          <p><%= link_to t("modmake"), set_mod_path(id: user.id)%></p>
    <%else %>
         <p> <%= t("mod")+" "+ user.full_name%></p>
          <%= button_to t("elimina"), user_path(id: user.id), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %></div>
          <%= link_to t("modre"), remove_mod_path(id: user.id)%>
    <% end%>
    <% end %>
  <%end %>
  </div>


    
    
<h2><%=t("statistiche")%></h2>
<h3><%=t("numute")+ @users.count.to_s%></h3>
<h3><%=t("nurece")+ @reviews.count.to_s%></h3>
<h3><%=t("ricesa")+ @researches.count.to_s%></h3>
<h3> <%= link_to "Home", root_path %> </h3>

