<h1> <p align = "center"> Pages#home</h1>
<p> <p align = "center"> Find me in app/views/pages/home.html.erb</p>

<% if current_user %>
	<% if current_user.full_name.present? %>
	<h3> <%= current_user.full_name %> </h3>
	<%= image_tag(current_user.avatar_thumbnail, :width => '200px') %>
<% else %>
	<% if current_user.avatar.attached?%>
		<h3> <%= current_user.email %> </h3>
           	<%= image_tag(current_user.avatar_thumbnail, :width => '200px') %>

	<%else %>
	        <h3> <%= current_user.email %> </h3>
		<%= image_tag(current_user.avatar_thumbnail, :width => '200px') %>
 	
 	<%end %>
<%end %>

<%= link_to "Edit Account", edit_users_registration_path %>
<%= button_to "Logout", destroy_users_session_path, data: {turbo: "false"}, method: :delete %>


<button onclick="window.location.href='/users/<%= current_user.id %>';">Profilo</button>

 <div align="right">
    <h1>Lista degli Utenti</h1>
    <ul>
      <% @users.each do |user| %>
       <ul> <%= link_to user.full_name, users_path(id: user.id) %><ul>
      <% end %>
    </ul>
  </div>




<% else %>
<p align = "center"> <%= link_to "Login", new_users_session_path %>  <%= link_to "Create Account", new_users_registration_path %>
<% end %>

<% if @search_result.empty? %>
<h2><%= "Non sono stati trovati oggetti"%></h2>
<% else %>
<% @search_result.each do |res| %>
<h4><%="Titolo:"+ res["title"][0] %></h4>
<% if current_user && !@researches_item_id.include?(res["itemId"][0].to_i)%>
<ul> <%= link_to "Salva", new_users_research_path(current_user.id, title: res["title"][0],price:res["shippingInfo"][0]["shippingServiceCost"][0]["__value__"],location:res["location"][0]+"  "+ res["country"][0], item_id: res["itemId"][0] , url: "prova")%><ul>
<%end %>
<% if current_user && !@reviews_item_id.include?(res["itemId"][0].to_i)%>
<ul> <%= link_to "Review", new_users_review_path(current_user.id, title: res["title"][0], item_id: res["itemId"][0] )%><ul>
<%end %>
<%="Luogo:"+ res["location"][0]+"  "+ res["country"][0]%>

<p><%="Prezzo:"+ res["shippingInfo"][0]["shippingServiceCost"][0]["@currencyId"]+"  "+ res["shippingInfo"][0]["shippingServiceCost"][0]["__value__"]%></p>    

<%end %>


<%end%>
<%= form_tag(search_path, method: :get) do %>
  <%= text_field_tag :keyword, params[:keyword], placeholder: 'Cerca',required:true %>
  <%= submit_tag 'Cerca' %>
<% end %>

<h> <%= link_to "Assistenza", new_user_message_path(user_id: @user.id)%></h3>



