<%= form_for [current_user, Review.new] do |f| %>
  	<%= f.hidden_field :title, value: @title %>
	<%= f.hidden_field :user_id, value: @user_id %>
	<p><%= f.number_field :rating, max: 5, min: 1 %></p>
	<%= f.hidden_field :item_id, value: @item_id %>

	<%= f.hidden_field :negozio, value: @negozio %>


	<%= f.label :Valutazione %>
	<p><%= f.text_area :comment%></p>
	<p><%= f.label :Commento %></p>

<%= f.submit :"Invia"%>
<%end %>
