<h2> Modifica recensione </h2>

<%= form_for [current_user, @review] do |f| %>
  	<%= f.hidden_field :title, value: @titolo %>
	<p><%= f.number_field :rating, max: 5, min: 1 %></p>
	<%= f.label :Valutazione %>
	<p><%= f.text_area :comment%></p>
	<p><%= f.label :Commento %></p>

<%= f.submit :"Invia"%>
<%end %>
